body {
    padding-top: 7vh !important;
    background-color: #ffcdb2 !important;
}

.m-2 {
    background-color: #ffb4a2;
    border-color:#ffb4a2 !important;
    height: 40vh !important;
}

.btn-success {
    background-color: #e5989b !important;
    border-color: #e5989b !important;
    color: black;
}

.navbar {
    width: 100% !important;
}

.form-control:focus {
    border-color: #e5989b !important; /* rosa */
    box-shadow: 0 0 0 0.2rem rgba(150, 9, 9, 0.247) !important; /* alone rosa */
    outline: none;
}

footer {
}